.collection-item{
    display: flex;
    justify-content: space-between
}

.material-icons{
    cursor: pointer;
}

.add-lyric-to-song-container{
    margin-top: 40px;
}

.collection-item-left-side{
    width: 100%;
}

.likes-container{
    display: flex;
    align-items: flex-end;
}

.likes-container span {
    margin-right: 10px
}

.home-page-btns-bar{
    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
}

.home-page-btns-bar .sign-up-btn{
    margin-right: 20px;
}

.auth-form-container .sign-up-field-box{
    margin: 20px 0;
}

.auth-form-container .sign-up-title{
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
}