.collection-item{
    display: flex;
    justify-content: space-between
}

.material-icons{
    cursor: pointer;
}

.add-lyric-to-song-container{
    margin-top: 40px;
}
.collection-item-left-side{
    width: 100%;
}
.likes-container{
    display: flex;
    align-items: flex-end;
}

.likes-container span {
    margin-right: 10px
}